<table class="table">
    <thead>
        <tr>
            <th>Args</th>
            <th>OS NAME</th>
            <th>NODE VERSION</th>
            <th>RSS</th>
            <th>EXEC PATH</th>
            <th>P.ID</th>
            <th>PROJECT DIRECTORY</th>
            <th>N° of CPUs</th>
        </tr>
    </thead>
    <tbody id="products">
        {{#each datos}}
            <tr>
                <td>{{arguments}}</td>
                <td>{{osname}}</td>
                <td>{{nodeVer}}</td>
                <td>{{rssVer}}</td>
                <td>{{execPath}}</td>
                <td>{{processID}}</td>
                <td>{{projDir}}</td>
                <td>{{cpuNum}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>